* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.border {
    border: 1px solid black;
}

.body-grid {
    display: grid;
    grid-template-areas: 
        "nav header header"
        "nav sectionD sectionD"
        "nav footer footer";
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 1fr 125px;
    gap:10px;
    min-height: 100vh;
}

.body-gridB {
    display: grid;
    grid-template-areas: 
        "nav header header"
        "nav sectionE sectionE"
        "nav footer footer";
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 1fr 125px;
    gap:10px;
    min-height: 100vh;
}


.header {
    grid-area: header;
    background: #da0c0c;
    background-image: linear-gradient(to top, #c61b1b , rgb(255, 255, 255));
    background-image: url("../images/logo_f1.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 50%;
}


.sectionD {
    grid-area: sectionD;
    display: grid;
    max-height: 300vh; 
    grid-template-columns: auto 1fr 1fr; 
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
}


.sectionE {
    grid-area: sectionE;
    display: grid;
    max-height: 500vh; 
    grid-template-columns: 1fr 2fr; 
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
}


.div__pilotos {
    border: solid 1px;
    font-size: 21px;
    background-color: #da0c0c;
}

.div__teams {
    border: solid 1px;
    font-size: 21px;
    background-color: #da0c0c;
}

.div__puntos{
    border: solid 1px;
    font-size: 40px;
    background-color: #da0c0c;
}


.nav {
    grid-area: nav;
}

.nav_ul {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #222823;
}

.nav_li {
    background: #c61b1b;
    padding: 1em;
}

.nav_li a {
    color: white;
}

.card {
    border: 3px solid #c61b1b;
}

#a { 
    font-size: large; 
    font-style: normal;
    font-weight: 100;
    color: #222823;
    border-color: #222823;
}

/*.div_h1 {
    background-color: #CECECE;
    font-size: large;
    justify-content: space-between;
}

.div_h2 {
    background-color: #9b9c9e;
    font-size: large;
}

.div_h3 {
    background-color: #9b9c9e;
    font-size: large;
}
/**/



/*.table_div {
    display: grid;
    gap: 18px 18px; 
  }
/**/

.footer {
    grid-area: footer;
}

.footer {
    font-size: 1.4rem;
    font-weight: 100;
    max-height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("../images/pirelli_footer.png");
    background-size: cover;
    background-position: 0 50%;
}

.footer_div img {
    width: 100%;
    max-height: 100%;
}

.footer_li {
    color: white;
    background:linear-gradient(45deg, rgba(198, 27, 27, .8), rgba(34, 40, 35, .8));
    padding: 2rem 8rem;
    border-radius: 0 .2em .2em 0;
}

@media (max-width: 800px) {
    .body-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "sectionA sectionA sectionA sectionA"
            "sectionB sectionB sectionB aside"
            "sectionC sectionC sectionC aside"
            "footer footer footer footer";
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 125px;
    }
}


@media (max-width: 400px) {
    .body-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "sectionA"
            "sectionB"
            "sectionC"
            "aside"
            "footer";
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 125px;
    }
}

@media (max-width: 800px) {
    .body-gridB {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "header header header header"
            "nav nav nav nav"
            "sectionA sectionA sectionA sectionA"
            "sectionB sectionB sectionB sectionB "
            "sectionC sectionC sectionC sectionC "
            "aside aside aside aside"
            "footer footer footer footer";
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 125px;
    }
}

@media (max-width: 400px) {
    .body-gridB {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "sectionA"
            "sectionB"
            "sectionC"
            "aside"
            "footer";
        grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 125px;
    }
}