/*HTML*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.border {
    border: 1px solid black;
}

/*BODY*/

.body-grid {
    display: grid;
    grid-template-areas: 
        "nav header header"
        "nav sectionA sectionA"
        "nav sectionB aside"
        "nav sectionC aside"
        "nav footer footer";
    grid-template-columns: 20% auto 17% ;
    grid-template-rows: 100px 1fr 1fr 1fr 125px;
    gap:10px;
    min-height: 100vh;
}

/*SECTIONS*/

.sectionA {
    grid-area: sectionA;
    display: grid;
}

.sectionB {
    grid-area: sectionB;
    display: grid;
}

.sectionC {
    grid-area: sectionC;
    display: grid;
}



/*ASIDE*/

.aside {
    grid-area: aside;
    display: grid;
}


/*ARTICLE*/

.article_card {
    background-color:rgb(216, 216, 216);
    border-radius: 10px;
}

#p {
    color: rgb(87, 147, 149);
    background-color: aliceblue;
    border-top: #575A5E;
    border-width: 10ch;
}


/*NAV*/

.nav {
    grid-area: nav;
    display: grid;
}

.nav_ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #222823;
}

.nav_li {
    background-color: #222823;
    padding: 1em;
}

.nav_li a {
    color: white;
}
