.card {
    border: 3px solid $secondary;
}

.img {
    max-width: 100%
}

#a { 
    font-size: large; 
    font-style: normal;
    font-weight: 100;
    color: #222823;
    border-color: #222823;
}
    

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    text-shadow: #222823;
}

a{
    color: $secondary;
}
