/*VARIABLES*/

/*PALETTE*/
$primary: #222823;
$secondary: #da0c0c;
$border:#821313;
$article: #d7d3d3;
$color-font: #cbcbcb;

/*FONT - FAMILY*/
$text-base: 'serif', "georgia";
$text-alt:'Roboto slab', serif;
$text-title: "Audiowide", sans-serif;
$text-page: "Arial", Helvetica, sans-serif;

/*FONT SIZES*/
$text-xl: 45px;
$text-lg: 38px;
$text-md: 20px;
$text-sm: 16px;
$text-xs: 14px;
