/*VARIABLES*/

/*PALETTE*/
$primary: #222823;
$secondary: #da0c0c;
$border:#821313 ;
$article: rgb(216, 216, 216);

/*FONT - FAMILY*/
$text-base: 'barlow', sans-serif;
$text-alt:'Roboto slab', serif;

/*FONT SIZES*/
$text-xl: 4.5em;
$text-lg: 32px;
$text-md: 20px;
$text-sm: 16px;
$text-xs: 14px;
