/*FOOTER*/

.footer {
    grid-area: footer;
    display: grid;
    font-size: $text-md;
    max-height: 100%;
    background-image: url("../images/pirelli_footer.png");
    background-size: cover;
    background-position: 0 50%;

    .footer_div img {
        width: 100%;
        max-height: 100%;
    }

    .footer_nav {
        color: #d7d3d3;
        background:linear-gradient(45deg, #c61b1b)(#222823);
        border-radius: 0 .1em .1em 0;
        max-width: 100%;
    }

    .footer_ul { 
        font-size: 14px;
        padding: 10px;
        font-family: "Audiowide", sans-serif;
    }

    .footer_social {
        padding-left: 25px;
        justify-content: space-between 4px;
    }

    li .footer_social {
        padding-left: 10px;
    }
}
