


/*MISC*/



.container {
    border: 3px solid #1bc69e;
}

#a { 
    font-size: large; 
    font-style: normal;
    font-weight: 100;
    color: #222823;
    border-color: #222823;
}


li {
    font-size: large;
}

ul {
    list-style: none;
}


/*FOOTER*/



.footer_li {
    color: white;
    background:linear-gradient(5deg, #c61b1b, #222823);
    padding: 2rem 8rem;
    border-radius: 0 .2em .2em 0;
    }
    

/*MEDIA*/










